<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/socket.io/socket.io.js"></script>
    <script src="/ckeditor/ckeditor.js"></script>
    <script src="/diff/javascript/diff_match_patch_uncompressed.js"></script>
    <script src="/javascripts/main.js"></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <div id="doc" contenteditable="true" onkeydown="handle_text()">
      Test
    </div>
    <p id="diff_string"></p>
  </body>
</html>
